name: Insured Assurance GitHub Action - Workflow

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Trigger Jenkins Pipeline
      run: |
        CRUMB=$(curl -s --user admin:11ff8236c8ac9a1a3c3bce65dcf727c5c3 http://localhost:8080/crumbIssuer/api/xml?xpath=concat\(//crumbRequestField,":",//crumb\))
        curl -X POST http://jenkins.mycompany.com:8080/job/InsuredAssurance_tomcat-deploy-pipeline/build \
        --user admin:11ff8236c8ac9a1a3c3bce65dcf727c5c3 \
        -H "$CRUMB"
